/obj/Debug
/bin/Debug

*.exe
*.config
*.pdb
*.cache
*.cache
*.cache
*.txt
*.cache
*.resources
*.suo
Projeto_IS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Projeto_IS/.vs/Projeto_IS/v16/.suo
Projeto_IS/.vs/Projeto_IS/v16/.suo
Projeto_IS/.vs/Projeto_IS/v16/.suo
Projeto_IS/bin/Debug/Projeto_IS.exe
Projeto_IS/.vs/Projeto_IS/v16/.suo
*.pdb
*.cache
Projeto_IS/obj/Debug/Projeto_IS.csproj.FileListAbsolute.txt
*.cache
*.cache
Projeto_IS/obj/Debug/Projeto_IS.exe
*.pdb
